*, body{
    padding: 0;
    margin: 0;
}

.footer{
    width: 100%;
    height: 120px;
    background:rgb(98, 118, 233);
    color:#FFF;
}


.main{
    margin: 7em 3em;
  }
  
  .main p{
    font-weight: 200;
    color: rgb(102, 102, 102);
  }