@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext');

body, *{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(172, 172, 172);
    /* background-image: url("https://sirotkina.github.io/positioning/img/stik.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -30px -35px; */


    /* background-image: url("https://sirotkina.github.io/positioning/img/support.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 600px; */
}

p {
    font-family: Merriweather;
    font-weight: 400;
}

.wrapper {
    background-color: rgb(172, 172, 172);
    max-width: 800px;
    margin: 10% auto;
}

.header {
    background-image: url("https://sirotkina.github.io/positioning/img/bgi_red.jpg");
    width: 100%;
    height: 100px;
    position: relative;
}

.header h1 {
    color: white;
    padding: 3px 15px;
}  

.header h4 {
    color: white;
    padding-bottom: auto;
    padding-left: 15px;
}  

.content {
    background-color: rgb(255, 255, 255);
}

.content p {
    padding: 2% 3%;
}

.item_img {
    /* float: left; */
    position: absolute;
    left: -20px;
    top: -20px;
}

.ruseller {
    background-image: url("https://sirotkina.github.io/positioning/img/bgi_button.jpg");
    border-radius: 5px;
    position: relative;
    top: -13px;
    left: 360px;
    height: 25px;
    width: 16%;
}

.ruseller h5 {
    color: white;

    text-align: center;
    padding-top: 4px;
}

.ruseller a {
    color: white;
    text-decoration: none;
}

.support {
    position: fixed;
    left: 0;
    top: 65%;
}

.bird {
    position: absolute;
    top: 3px;
    left: 40%;
}
