@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,700i&display=swap');

body{
    background-image: url('https://sirotkina.github.io/homeworks/hw4/img/fon.jpg');
    color: black;
    font-size: 14pt;
}

.about {
    border: 4px solid #660000;
    padding: 3px;
    background-color: rgb(255, 223, 158);
    margin: 5px;
    font-family: url('https://sirotkina.github.io/homeworks/hw4/fonts/Forum-Regular.ttf');
}

.content{
    border: 3px double #360000;
    padding: 4px;
    position: fixed;
    left: 0;
    margin: 10px 10px 10px 20px;
    background-color: rgb(255, 223, 158);
    width: 15%; 
    font-family: url('https://sirotkina.github.io/homeworks/hw4/fonts/Forum-Regular.ttf');
}

.content ul li {
    list-style-type: none;
    font-family: Montserrat; 
    font-weight: 400;
}

.content ul li a {
    display: block;
    color: #000;
    font-weight: 400;
    text-decoration: none;
}

.main_text{
    border: 3px solid #360000;
    padding: 3px;
    margin: 10px 10px 10px 10px;
    background-color: rgb(255, 223, 158);
    width: 80%; 
    float:right; 
    font-family: url('https://sirotkina.github.io/homeworks/hw4/fonts/Forum-Regular.ttf');
}

.leftimg {
    float:left; 
    margin: 10px 10px 10px 10px; 
    border: 5px solid #420101;
}

.rightimg  {
    border: 5px solid white;
    float: right; 
    margin: 10px 10px 10px 10px; 
}

.centreimg {
    text-align:center;
    margin: 10px 0px 10px 0px;
}

.map{
    border: 5px solid #420101;
}

.dialogue {
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    color: chocolate;
    font-family: Lobster;
}

span.italic{
    font-style: italic;
    font-family: Montserrat; 
    font-weight: 400;
}

span.line_through{
    text-decoration: line-through;
    font-family: Montserrat; 
    font-weight: 400;
}

span.overline{
    text-decoration: overline;
    font-family: Montserrat; 
    font-weight: 400;
}

span.underline{
    text-decoration: underline;
    font-family: Montserrat; 
    font-weight: 400;
}

span.bold{
    font-family: Montserrat; 
    font-weight: 700;
    font-size: 15pt;
    color: #250000;
}
