body{
    background-image: url(/hw3/img/fon.jpg);
}

.main_text {
    border: 2px solid #261f0a;
    padding: 2px;
    background-color: rgba(177, 135, 43, 0.347);
}

.leftimg {
    float:left; 
    margin: 10px 10px 10px 0; 
}
.rightimg  {
    float: right; 
    margin: 10px 0 10px 10px; 
}
.centreimg {
    text-align:center;
    margin: 0 10px 0 10px;
}
.dialogue {
    list-style-type: none;
}
